
.contenedorVisorLenguaje{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    box-sizing: border-box;
}

.lineaVisorLenguaje{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.LineaCentralNodos{
    display: flex;
    flex-direction: row;
}

.visorNodoExterior{
   
    box-sizing: border-box;
    overflow: hidden;
}

.visorNodoValido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.interLinea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.visorConexion{
    display: flex;
    width: 100%;
}

.conexionInterior{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.conexionInteriorInterior{
    height: 100%;
    flex-direction: column;
}
