


.cm-s-lth.CodeMirror {
  /*color2*/
  background-color: #FAEDE1;
}

.cm-s-lth .CodeMirror-gutters {
  /*color2*/
  background: #FAEDE1;
  border: none;
}

.cm-s-lth .CodeMirror-linenumber {
  color: #B56D21;
}

.cm-s-lth span.cm-meta { color: #FF1717; }
.cm-s-lth span.cm-keyword { line-height: 1em; font-weight: bold; color: #7F0055; }
.cm-s-lth span.cm-atom { color: #219; }
.cm-s-lth span.cm-number { color: #164; }
.cm-s-lth span.cm-def { color: #00f; }
.cm-s-lth span.cm-variable { color: black; }
.cm-s-lth span.cm-variable-2 { color: #0000C0; }
.cm-s-lth span.cm-variable-3, .cm-s-lth span.cm-type { color: #0000C0; }
.cm-s-lth span.cm-property { color: black; }
.cm-s-lth span.cm-operator { color: black; }
.cm-s-lth span.cm-comment { color: #3F7F5F; }
.cm-s-lth span.cm-string { color: #2A00FF; }
.cm-s-lth span.cm-string-2 { color: #f50; }
.cm-s-lth span.cm-qualifier { color: #555; }
.cm-s-lth span.cm-builtin { color: #30a; }
.cm-s-lth span.cm-bracket { color: #cc7; }
.cm-s-lth span.cm-tag { color: #170; }
.cm-s-lth span.cm-attribute { color: #00c; }
.cm-s-lth span.cm-link { color: #219; }
.cm-s-lth span.cm-error { color: #f00; }

.cm-s-lth .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-lth .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }
