
.cm-s-rdt.CodeMirror {
    /*color2*/  
    background-color: #414535;
    color: #EEFFFF;
  }
  
  .cm-s-rdt .CodeMirror-gutters {
    /*color2*/
    background: #414535;
    color: #808080;
    border: none;
  }

  .cm-s-rdt .CodeMirror-linenumber {
    color: #808080;
  }






  
  .cm-s-rdt .CodeMirror-guttermarker,
  .cm-s-rdt .CodeMirror-guttermarker-subtle,

  
  .cm-s-rdt .CodeMirror-cursor {
    border-left: 1px solid #FFCC00;
  }
  
  .cm-s-rdt div.CodeMirror-selected {
    background: rgba(128, 203, 196, 0.2);
  }
  
  .cm-s-rdt.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(128, 203, 196, 0.2);
  }
  
  .cm-s-rdt .CodeMirror-line::selection,
  .cm-s-rdt .CodeMirror-line>span::selection,
  .cm-s-rdt .CodeMirror-line>span>span::selection {
    background: rgba(128, 203, 196, 0.2);
  }
  
  .cm-s-rdt .CodeMirror-line::-moz-selection,
  .cm-s-rdt .CodeMirror-line>span::-moz-selection,
  .cm-s-rdt .CodeMirror-line>span>span::-moz-selection {
    background: rgba(128, 203, 196, 0.2);
  }
  
  .cm-s-rdt .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .cm-s-rdt .cm-keyword {
    color: #C792EA;
  }
  
  .cm-s-rdt .cm-operator {
    color: #89DDFF;
  }
  
  .cm-s-rdt .cm-variable-2 {
    color: #EEFFFF;
  }
  
  .cm-s-rdt .cm-variable-3,
  .cm-s-rdt .cm-type {
    color: #f07178;
  }
  
  .cm-s-rdt .cm-builtin {
    color: #FFCB6B;
  }
  
  .cm-s-rdt .cm-atom {
    color: #F78C6C;
  }
  
  .cm-s-rdt .cm-number {
    color: #FF5370;
  }
  
  .cm-s-rdt .cm-def {
    color: #82AAFF;
  }
  
  .cm-s-rdt .cm-string {
    color: #C3E88D;
  }
  
  .cm-s-rdt .cm-string-2 {
    color: #f07178;
  }
  
  .cm-s-rdt .cm-comment {
    color: #546E7A;
  }
  
  .cm-s-rdt .cm-variable {
    color: #f07178;
  }
  
  .cm-s-rdt .cm-tag {
    color: #FF5370;
  }
  
  .cm-s-rdt .cm-meta {
    color: #FFCB6B;
  }
  
  .cm-s-rdt .cm-attribute {
    color: #C792EA;
  }
  
  .cm-s-rdt .cm-property {
    color: #C792EA;
  }
  
  .cm-s-rdt .cm-qualifier {
    color: #DECB6B;
  }
  
  .cm-s-rdt .cm-variable-3,
  .cm-s-rdt .cm-type {
    color: #DECB6B;
  }
  
  
  .cm-s-rdt .cm-error {
    color: rgba(255, 255, 255, 1.0);
    background-color: #FF5370;
  }
  
  .cm-s-rdt .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
  }