.react-codemirror2, .CodeMirror{
    height: 100%  !important;
    width: 100% ;
    
  
}

/*
.cm-s-material.CodeMirror {
    background-color: inherit !important;
}

.cm-s-material .CodeMirror-gutters{
    background-color: inherit !important;
}
*/