.btnBigForm {
    border-radius: 10px;
    font-family: Arial;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 314px;
    border: none;
    cursor: pointer;
  }
  
  .btnBigForm:hover {
    text-decoration: none;
  }