
/*---------------------------------------- Estilo 0---------------------------------------- */
.formulario0{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.formulario0  .tituloFormulario{
    margin-bottom: 5px;
}


.formulario0  .formularioInput{
    margin-top: 15px;
}

/* -> InputText */
.formulario0  .formularioInputText{
    outline: none;
    width: -webkit-fill-available;
    height: 20px;
}


/* -> InputText */
.formulario0  .formularioTextArea{
    outline: none;
    resize: none;
    width: -webkit-fill-available;
    height: 120px;
}


/*---------------------------------------- Estilo 1---------------------------------------- */

.formulario1{
}

.formulario1  .tituloFormulario{
}


.formulario1  .formularioInput{
    margin-top: 15px;
}

/* -> InputText */
.formulario1  .formularioInputText{
    background-color: transparent;
    width: -webkit-fill-available;
    height: 20px;
}