.inputTextBigFormulario {
    
    font-size: 20px;
    border-width: 1px;
    
    
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: -50px 0px 5px rgba(66,66,66,.75);
    margin-bottom: 5px;
}


.inputTextBigFormulario {
    outline:none;
}
