.container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    resize: both;
    overflow: hidden;
  }
  
  .container[data-width-range="large"] {
    opacity: 0.5;
    color: white;
  }
  
  .container[data-width-range="small"] {
    opacity: 0.9;
  }
  
  .container[data-height-range="large"] {
    background-color: #546e7a;
  }
  
  .container[data-height-range="small"] {
    background-color: #d7dfe2;
  }
  